.wp-container {
  min-height: 100vh;

  .header {
    background-color: #FFF;

    .logo {
      padding: 10px 20px;
    }

    .btn-actions {
      align-self: center;
      text-align: right;
      padding-right: 20px;
    }
  }
  
  .main-container {
    background-color: #DAE0E6;
    height: 100%;

    .card {
      margin-bottom: 15px;
      border: 1px solid #CCC;
      display: flex;
      flex-direction: row;

      &:first-of-type {
        margin-top: 20px;
      }

      .left-side-bar {
        flex-basis: 40px;
        background-color: #F7F9FA;
        display: flex;
        justify-content: center;

        .dismiss-post {
          font-size: 0.8em;
          cursor: pointer;
          padding-top: 10px;
        }
      }

      .card-content {
        cursor: pointer;
        flex-basis: calc(100% - 40px);

        .card-header {
          background-color: transparent;
          border-bottom: 0;
  
          h4 {
            font-size: 1.2em;
            font-weight: 500;
            margin-bottom: 0;
          }
  
          .post-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .author-date {
              color: #787C7E;
              font-size: 0.7em;
            }
          }
        }
  
        .card-body {
          .card-img-top {
            max-width: 50%;
            height: 100%;
            margin: 0 auto;
            display: block;
          }
        }
  
        .card-footer {
          background-color: transparent;
          border-top: 0;
  
          .post-footer {
            .comments-status {
              color: #787C7E;
              font-size: 0.9em;
              font-weight: 700;

              .post-read {
                background-color: #EDEFF1;
                border-radius: 20px;
                padding: 2px 8px;
              }
            }
          }
        }
      }

      &.hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 1s, opacity 1s linear;
      }
    }

    h6 {
      padding-top: 25px;
    }

    .pagination-container {
      .pagination {
        justify-content: flex-end;
      }
    }

    .toast {
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
  }
}
