.wp-container {
  min-height: 100vh;

  .header {
    background-color: #FFF;

    .logo {
      padding: 10px 20px;
    }
  }
  
  .main-container {
    background-color: #DAE0E6;
    height: 100%;

    .card {
      margin-bottom: 15px;

      .card-img-top {
        max-width: 50%;
        height: 100%;
      }
    }
  }
}
