APP_ENV=production
REDDIT_APP_ID='emRHZDYzVEV2TVl6MEE='
REDDIT_APP_SECRET='alptQmNLczNnaUo4YlVfZERROVlKTTJkWnlHc0Zn'
PRODUCTION_URL=http://deviget.clickmedia.com.mx
DEVELOPMENT_URL=http://localhost:9000