APP_ENV=Development
REDDIT_APP_ID='emRHZDYzVEV2TVl6MEE='
REDDIT_APP_SECRET='alptQmNLczNnaUo4YlVfZERROVlKTTJkWnlHc0Zn'
PRODUCTION_URL=https://master.dktwwyo2x0b29.amplifyapp.com
DEVELOPMENT_URL=http://localhost:9000